#box{
    /*position:absolute;
    width:100px;
    height:100px;*/
    /*border: 1px solid black;
    background:#ffffff;*/
}


input[type="range"] {
  -webkit-appearance: none;
  width: 600px;
  height: 25px;
  border: 1px solid;
  background-color: #555555;
  /*padding-left: 100px;*/
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 25px;
  border: 1px solid;
  background-color: #FFF;
  z-index:6000;
}